

.notice_cards{
    display: flex;
    flex-wrap:wrap;
    gap: 20px;         
    
    justify-content: center;
    margin: 16px;
}
.header{
    height: 50px;
    background-color: blue;
    color: white;
    font-size: 30px;
    text-align: center;
    
    display: flex;
    align-items: center;     
    justify-content: center; 

    padding: 0 16px; 
}
