<div *ngIf="selection==='notice'">
  <h2 mat-dialog-title>Filter Notices</h2>
<mat-dialog-content>
  <mat-form-field appearance="fill" class="w-full my-2">
    <mat-label>Category</mat-label>
    <mat-select [(value)]="selectedCategory">
      <mat-option value="all">All</mat-option>
      <mat-option value="academics">Academics</mat-option>
      <mat-option value="sports">Sports</mat-option>
      <mat-option value="culturals">Culturals</mat-option>
    </mat-select>
  </mat-form-field>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-button (click)="clearFilter()">Clear</button>
  <button mat-button cdkFocusInitial (click)="applyFilter()">Apply</button>
</mat-dialog-actions>

</div>
<div *ngIf="selection==='event'">
  <h2 mat-dialog-title>Filter Events</h2>
<mat-dialog-content>
  <mat-form-field appearance="fill" class="w-full my-2">
    <mat-label>Registration</mat-label>
    <mat-select [(value)]="selectedRegistration">
      <mat-option value="all">all</mat-option>
      <mat-option value="registered">Registered</mat-option>
      <mat-option value="not registered">Not Registered</mat-option>
    </mat-select>
  </mat-form-field>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-button (click)="clearFilter()">Clear</button>
  <button mat-button cdkFocusInitial (click)="applyFilter()">Apply</button>
</mat-dialog-actions>
</div>


